.sideBar{
    display: flex;
    flex-direction: column;
    
    font-size: 25px;
   
    height: 100%;
   
}
:host{
    
    border-right: 2px solid orange;
    border-top:2px solid grey;
    background-color: var(--background-color);
}
.sideBar span{
    cursor: pointer;
    margin: 20px 0px;
    padding: 20px;
}
.sideBar span:hover{
    background-color: grey;
}