.options {
    display: flex;
    flex-direction: row-reverse;
    width: max-content;
    align-items: center;
    justify-content: space-around;
}
.ac {
    background-color: red;
}
.options img {
    width: 20px;
    margin: 3px;
}
:host{
    display: block;
    border: 2px solid black;
    width: max-content;
}