.options {
    display: flex;
    flex-direction: row;
    width: max-content;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid black;
    border-radius: 1px;
    padding: 5px;
    width: 100px;
}
.active {
    background-color: yellow;
}
.options img {
    width: 20px;
    margin: 3px;
}
:host{
    display: block;
    width: max-content;
}
.noActive{
    background-color: transparent;
 }