img{
    width: 100px;
}
:host{
    align-self: center;
    margin-left: 100px;
    display: block;
}
@media only screen and (max-width:318px) {
    :host{
        margin-left: 50px;
    }
}
@media only screen and (max-width:206px) {
    :host{
        margin-left: 20px;
    }
}