.outerdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
textarea {
    resize: horizontal;
    max-width: min(60vw, 900px);
    min-width: 40vw;
    border: 0px solid black;
    border-radius: 2px;
    box-shadow: 0px 0px 10px 1px rgba(63, 63, 63, 0.212);
    background-color: rgba(0, 0, 0, 0.035);
}
textarea:focus{
    outline: none;
}
.indexValue {
    font-size: 18px;
    justify-self: end;
    padding: 0px;
    position: relative;
    top: 5px;
    margin: 5px;
}
button {
    margin: auto;
}
.ingridents {
    display: flex;
    flex-direction: column;
    width: max-content;
    justify-content: center;
    align-items: start;
}
input {
    border: 0px solid black;
    border-bottom: 2px solid black;

    margin: 5px 5px;
}
input:focus {
    outline: none;
}
.ingridents img {
    width: 16px;
    padding: 4px;
    position: relative;
    top: 12px;
    margin: 5px;
    border-radius: 5px;
}
.ingridents img:hover {
    background-color: rgb(243, 62, 62);
}
:host {
    display: block;
    margin: 10px auto;
    width: 80%;
}
button:focus{
    outline: 2px solid green;
}
@media only screen and (max-width: 964px) {
    .fomrsSection textarea {
        font-size: 15px;
        min-height: 150px;
    }
    .ingridents input {
        padding: 5px;
        width: 140px;
        font-size: 16px;
    }
    .ingridents button {
        margin-top: 10px;
    }
    h1{
        font-size: 25px;
    }
    .lable{
        font-size: 14px;
    }
}
@media screen and (max-width:254px) {
    :host{
        
      margin-left: 5px;
    }  
    .fomrsSection{
   
        margin-left: 10px;
    }
    .ingridents{
        position: relative;
        left:7px;
        font-size: 14px;
    }  
    }