<div class="gridItems" *ngIf="!loading">
    <div *ngFor="let dat of data" class="itmes">
        <img src="deafultRecipe.png" id="defualtImage" *ngIf="!dat.image_url">
        <img src="{{dat.image_url}}" *ngIf="dat.image_url" (click)="editDraft(dat.id)" class="imageOfDish">
        <span>{{dat.name}}</span>
        <div class="buttons">
          <button (click)="deleteDraft(dat.id)">Remove</button>
          <button (click)="editDraft(dat.id)">Edit</button>
        </div>
    </div>
    </div>
