.stepNumberHeading{
    font-size: 22px;
    display: block;
    font-weight: 700;
}
.nameHeading{
    display: block;
    font-size: 19px;
    font-weight: 690;
    margin-top: 2px;
}
p{
    margin-top: 5px;
    font-size: 18px;
}
.imageSection{
    position: relative;
    width: 300px;
    height: 250px;
}
.outerBox{
  margin: 20px 0px;
  display: block;
}
:host{
    display: block;
    width: 90%;
    margin: auto;
}
@media screen and (max-width:554px) {
    p{
        font-size: 16px;
    }
    .nameHeading{
        font-size: 17px;
    }
    .stepNumberHeading{
        font-size: 19px;
    }
    
    
}
@media screen and (max-width:554px) {
    img{
        width: 300px;
    }
    
}

@media screen and (max-width:250px) {
    img{
        width: 230px;
        height: 150px;
    }
    
}


@media screen and (max-width:234px) {
    img{
        width: 170px;
    }
    
}