:host{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-top: 0px;
    box-shadow: 0px 0px 20px 1px var(--white-color-top-bar-drop-down-shadow);
}
img{
    width: 100px;
    border-radius: 50%;
}
