.gridItems{
    width: 100%;
    outline: 2px solid rgb(207, 90, 90);
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.itmes{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
}
img{
    width: 200px;
}
:host{
    display: block;
    width: 100%;
}