.outerDiv{
  
    animation-name: effect;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-delay: 0s;
    background-color: #fff;
    background: linear-gradient(
    100deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, .5) 50%,
    rgba(255, 255, 255, 0) 60%
  ) var(--loading-grey);
  --loading-grey: #ededed;
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1s loading ease-in-out infinite;
    background-repeat: no-repeat;
    width: max-content;
    padding: 5px;
    display: block;
    width: 300px;
    height: 250px;
    box-shadow: 0px 0px 8px 2px  rgb(177, 176, 176);
    border-radius: 5px;
}
@keyframes loading {
    to {
      background-position-x: -20%;
    }
  }
 :host{
    padding: 15px;
    display: grid;
    gap: 16px 16px;
    justify-content: center;
    grid-template-columns: repeat(5,max-content);
 }
 @media only screen and (max-width:1786px) {
  :host{grid-template-columns: repeat(4,max-content);
  }
  .outerDiv{
    width: 20vw;
    aspect-ratio: 1;
}
.divFive{
  display: none;
}
}
@media only screen and (max-width:1380px) {
  :host{
      grid-template-columns: repeat(3,max-content);
  }
  .divFour{
    display: none;
  }
  .outerDiv{
    width: 25vw;
    aspect-ratio: 1;
}
}
  @media only screen and (max-width:1030px) {
    :host{
        grid-template-columns: repeat(2,max-content); 
    }
  .divThree{
    display: none;
  }
  .outerDiv{
    width: 35vw;
    aspect-ratio: 1;
}
  }