
.footer{
    margin: 5px 0px;
}
.images{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
    width: 40%;
}
.images img{
    width: 30px;
}
button{
    margin: 5px 0px;
    font-size: 16px;
}
:host{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}