<div [formGroup]="form" class="eachStepDiv">
    <div class="individualDesc" formArrayName="steps">
        <div [formGroupName]="postion">
            <div class="fomrsSection" >
                <label class="lable">Step {{ postion + 1 }}</label>

                <input
                    class="inputTypeText"
                    formControlName="heading"
                    placeholder="Enter the name of the step"
                />
            </div>
            <div class="fomrsSection" id="inputText">
                <label class="lable">Whats its all about</label>
                
                <textarea id="texts"
                    placeholder="Enter the procedure"
                    formControlName="about"
                    wrap="hard"
                    rows="10"
                    [placeholder]="'Expalin about the procesdure of step'"
                >
                </textarea>
            </div>
            <div class="description">
                <div class="fomrsSection"  *ngIf="!fileDataUrl">
                    <label class="lable">Upload Image</label>
                    
                    <input
                        (change)="fileUploaded($event)"
                        accept="image/jpeg,image/png,image/webp"
                       
                        type="file"
                        class="fileUploader"
                    />
                </div>
                <div class="imagePreviewOuterDiv">
                    <div class="imagePreviewDiv">
                        <img
                            class="uploadedImage"
                            *ngIf="fileDataUrl"
                            [src]="fileDataUrl"
                        />
                        <span class="uploadProgress" *ngIf="showProgress"
                            >Uploading {{ progress }}%</span
                        >
                    </div>
                    <img
                        src="kitchen-trash-bin.png"
                        *ngIf="fileDataUrl"
                        class="deleteIcon"
                        (click)="deleteImage()"
                    />
                </div>
            </div>
        </div>
        
    </div>
    
</div>
