.upperPortion span{
    font-size: 36px;
    font-weight: 600;
    align-self: center;
}
.upperPortion{
    display: grid;
    grid-template-columns: 1fr max-content;
}
:host{
   
    display: block;
    width: 98%;
    margin: 10px auto;
}
.listOfIngridients{
   margin-top: 40px;
}
.listOfIngridients span{
    font-size: 24px;
    text-decoration: underline;
    font-weight: 600;
}

    .listOfIngridients ul{
        display: grid;
        row-gap: 5px;
        grid-auto-flow: rows;
        grid-column-gap: 50px;
        grid-template-columns: max-content max-content;
    }

.listOfIngridients li{
    font-size: 17px;
   margin-right: 5px;
}
.procedureSection{
    margin-top: 30px;
}
.procedureSection span{
    font-size: 24px;
    font-weight: 600;
    text-decoration: underline;
}
:host{
 display: block;
 width: 98vw;
} 

@media screen and (max-width:1547px) {
    .headingOfRecipe{
        grid-row-start:1 ;
        grid-row-end:2;
        grid-column-start: 1;
        grid-column-end: 2;
    }    
    
}
@media screen and (min-width:1906px) {
    :host{
        display: block;
        width: 80vw;
           
       }
}
@media screen and (min-width:1999px) {
    :host{
        display: block;
        width: 15000;
           
       }
}
@media screen and (max-width:1200px) {
    .listOfIngridients ul{
        display: grid;
        
        grid-auto-flow: rows;
        grid-column-gap: 50px;
        grid-template-columns: min-content min-content;
    }
}
@media screen and (max-width:554px) {
    .listOfIngridients li{
        font-size: 16px;
    }
    
}
@media screen and (max-width:270px) {
    .listOfIngridients li{
        
        grid-column-gap: 5px;
        font-size: 15px;
    }
    .listOfIngridients ul{
        
        grid-column-gap:13px;
        
    }
}
