.upperPortion span{
    font-size: 36px;
    font-weight: 600;
    align-self: center;
}
.upperPortion{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr max-content;
}
:host{
   
    display: block;
    width: 98%;
    margin: 10px auto;
}
.listOfIngridients{
   margin-top: 40px;
}
.listOfIngridients span{
    font-size: 24px;
    text-decoration: underline;
    font-weight: 600;
}
.listOfIngridients ul{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
    grid-template-columns: 0.1fr;
}
.listOfIngridients li{
    font-size: 17px;
   
}
.procedureSection{
    margin-top: 30px;
}
.procedureSection span{
    font-size: 24px;
    font-weight: 600;
    text-decoration: underline;
}