<div *ngIf="data">
    <app-author-section></app-author-section>
<div class="upperPortion">
    <span>{{data.name}}</span>
    <app-multi-media-details-intro [imageUrl]="data.image_url"></app-multi-media-details-intro>
    <app-description-component *ngIf="data.description"  [data]="data.description">
    </app-description-component>
</div>
<div class="listOfIngridients">
    <span>Incideinets</span>
    <ul>
        <li *ngFor="let item of ingredients;">{{item.name}}</li>
    </ul>
</div>
<div class="procedureSection">
    <span>Procdeure</span>
    <app-procedure-component [steps]="steps"></app-procedure-component>
</div>
<app-comment-section></app-comment-section>
</div>
<app-error-from-server *ngIf="errorState"></app-error-from-server>
<app-loading *ngIf="loadingState"></app-loading>