<form [formGroup]="form" (ngSubmit)="submitForm($event)" (keydown)="onKeydown($event)" *ngIf="signedIn">
    <app-writing-top-bar [form]="form" [id]="id"></app-writing-top-bar>
    <app-writing-first-section
        [formGroup]="form"
        [questions]="listOfQuestioins"
    ></app-writing-first-section>
    <app-writing-second-section [form]="form"></app-writing-second-section>
    <app-writing-third-section [form]="form"></app-writing-third-section>
</form>
<app-display-save-draft
    *ngIf="showMsg"
    [obser]="shouldDeactivate"
    [form]="form"
    (showMsgs)="cangeMsg()"
></app-display-save-draft>
<app-sign-in-msg *ngIf="!signedIn"></app-sign-in-msg>
<app-error-image *ngIf="isThereError"></app-error-image>
<app-session-expired *ngIf="sessionError"></app-session-expired>
<app-missing-parameter *ngIf="shouldUploadError"></app-missing-parameter>
<app-error-draft-reicpe *ngIf="errorDraftId" ></app-error-draft-reicpe>

