span {
    color: white;
    font-size: 20px;
    width: 80%;
}
.outerBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}
:host {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.8);
}
