div{
    user-select: none;
}
.daysFlex{
    display: flex;
    flex-direction: column;
    width: max-content;
    
}
.outerDecBox{
    width: 100%;

    display: flex;
}
.tiemsFlex{
    display: flex;
}
.tiemsFlexOuter{
    display:flex;
    justify-content: stretch;
    align-items: stretch;
  
}
.tiemsFlexOuter button{
     
    width: var(--each-box-width-default);
    height: var(--each-box-width-default);
}
.decBox{
    width: var(--each-box-width-default);
    height: var(--each-box-width-default);
    background-color: rgb(189, 24, 24);
    position: relative;
    overflow: hidden;
    
}
.seperatorLine{
    border: 2px solid black;
    height: 0px;
    width: 272px;
    transform: rotate(45deg);
    position: absolute;
    top: 0px;
    left: -138px;
}

.time{
    position: absolute;
    right: 5px;
    font-size: 18px;
}
.Time{
    width: var(--each-box-width-default);
    height: var(--each-box-width-default);
    background-color: white;
    border: 2px solid black;
}
.day{
    position: absolute;
    font-size: 18px;
    bottom: 0px;
}
.AddButtonToAddDays{
    width: var(--each-box-width-default);
    height: var(--each-box-width-default);
}
.outerLining{
    border: 2px solid black;
  
}
.outerLiningOrange{
   
   width: var(--each-box-width-default);
    border: 2px solid black;
}
:host{
    margin-top: 35px;
}