.descriptionSection {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
}

h1 {
    margin: 20px auto 10px auto;
    display: block;
    text-align: center;
}
:host {
    display: block;

    outline: 2px solid blue;

    width: 100%;
}
