<div [formGroup]="formGroup" class="fomrsSection">
    <label class="lable">{{ question.lable }}</label>
    <ng-container [ngSwitch]="question.type" class="Outercontainer">
        <input
            *ngSwitchCase="'text'"
            class="inputTypeText"
            [formControlName]="question.key"
            type="text"
        />
        <input
            *ngSwitchCase="'slider'"
            [formControlName]="question.key"
            type="range"
            [min]="1"
            [max]="3"
            [step]="1"
            value="0"
        />
        <ng-template [ngIf]="!url">
            <input
                class="inputUploader"
                *ngSwitchCase="'file'"
                (change)="fileUploaded($event)"
                type="file"
                accept="image/jpeg,image/png,image/webp"
            />
        </ng-template>

        <ng-template [ngIf]="url">
            <div class="imagePreviewDiv">
                <img src="kitchen-trash-bin.png" (click)="deleteImage()" />
                <img *ngSwitchCase="'file'" class="uploadedImage" [src]="url" />
                <span class="uploadPercentage" *ngIf="showProgress"
                    >Uploading {{ progress }}%</span
                >
            </div>
        </ng-template>

        <ng-container *ngSwitchCase="'textbox'">
            <textarea
                [formControlName]="question.key"
                class="textArea"
                placeholder="Write the description of the recipe"
            >
            </textarea>
        </ng-container>
    </ng-container>
</div>
