
    <form class="forms" [formGroup]="signUpForm" (ngSubmit)="formSubmitted()">
        <span class="formHeading">Sign-Up</span>
        <input placeholder="Email Address" formControlName="username">
        <input placeholder="Username" formControlName="email">
        <input placeholder="Password" formControlName="password">
        <div class="visualFiles">
            <input (change)="fileUploaded($event)"  type="file" class="fileUploader">
        </div>
        <button class="submitButton">Sign-Up</button>
    </form>

