<div class="outerSpan" [formGroup]="fomsGroup">
    <span class="heading">Edit Meal</span>
    <input placeholder="Meal Lable" formControlName="lable">
    <div class="timeSelection">
        <app-meal-timing-selector [timeLable]="'Before Meal'" [formGroup]="fomsGroup" [keyOfForm]="'timeBefore'"></app-meal-timing-selector>
        <app-meal-timing-selector [timeLable]="'Meal Timming'" [formGroup]="fomsGroup" [keyOfForm]="'timeOnEat'"></app-meal-timing-selector>
    </div>
    <textarea placeholder="2 Burgers,Pasta,100ml Cold Drink" formControlName="foods"></textarea>
    <input placeholder="Total Calories" class="kkk" formControlName="totalCaloreis">
    <button>Use A.I to calculate Calories</button>
    <button (click)="formSubmission()">Add</button>
    
</div>
