.outerSpan{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
} 
 textarea.ng-invalid,.kkk.ng-invalid{
    outline: 2px solid red;
}
textarea.ng-untouched{
    outline: none;
}
.kkk.ng-untouched{
    outline: none;
}
input,textarea{
    border:0px solid black;
    border-bottom: 2px solid black;
    font-size: 17px;
    padding: 4px;

}
textarea{
    font-size: 16px;
    resize: vertical;
}
input:focus{
    outline: none;
}
.heading{
    font-size: 22px;
    font-weight: 600;
    display: block;
}
.mealTimeSelector{
   
    display: flex;
    align-items: center;
}
.timeSelection{
    display: flex;
    align-items: start;
    flex-direction: column;
}