video{
    width: 600px;
}
:host{
    background-color: transparent;
    
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
img{
    width: 500px;
}
@media screen and (max-width:1547px) {
    :host{
        background-color: transparent;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
}