.outerDiv{
    border: 2px solid black;
    width: min(1500px,80vw);
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1;
    margin: 20px auto;
    position: relative;
}
.contnetDiv{
    width: 100%;
    overflow: scroll;
    display: block;
    z-index: 1;
}
.mobileNavBar{
    display: none;
}
@media only screen and (max-width:458px) {
    .navBar{
        display: none;
    }
    .outerDiv{
        margin-top: 50px;
        width: 90%;
    }
    .mobileNavBar{
        display: block;
        z-index: 2;
    }
    
}
@media only screen and (max-width:318px){
    .outerDiv{
        padding: 0px;
        justify-items: start;
        margin: 30px 0px;
    }
    .contnetDiv{
        width: 100%;
       padding: 0px;
       margin: 0px;
       
    }
  }