.outerDiv{
    border: 2px solid black;
    width: min(1500px,80vw);
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1;
    margin: 20px auto;
 
}
.contnetDiv{
    width: 100%;
    overflow: scroll;
    display: block;
   
}
.mobileNavBar{
    display: none;
}
@media only screen and (max-width:458px) {
    .navBar{
        display: none;
    }
    .outerDiv{
        margin-top: 50px;
        width: 90%;
    }
    .mobileNavBar{
        display: block;

    }
    
}