.outerDiv{
    
    width: min(1500px,80vw);
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1;
    margin: 20px auto;
    position: relative; 
    
    padding: 0px;
}
.contnetDiv{
    width: 100%;
    overflow: scroll;
    display: block;
    z-index: 1;
  
}
:host{
    display: block;
  
}
.mobileNavBar{
    display: none;
}
@media only screen and (max-width:458px) {
    .navBar{
        display: none;
    }
    .outerDiv{
        margin-top: 50px;
        width: 90%;
        grid-template-columns: 1fr;
    }
    .mobileNavBar{
        display: block;
        z-index: 2;
    }
    
}
