:host{
    display: block;
    width: 100%;
    
}
span{
    font-size: 24px;
    font-weight: 600;
    display: block;
}
p{
    font-size: 18px;
}
@media screen and (max-width:1547px) {
    :host{
        background-color: transparent;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
}