/* You can add global styles to this file, and also import other style files */
:root{
    --border: 2px solid transparent;
    --creator-write-validInput:rgb(150, 150, 13);
    --creator-write-invalid:red;
    --color-button-orange:orange;
}
body{
    padding: 0px;
    margin: 0px;
}

a:visited{
    color: rgb(80, 80, 247);
}
input::placeholder{
    font-size: 16px;
}
input{
    margin: 5px 0px;
    font-size: 18px;
}
.formHeading{
    font-size: 25px;
    font-weight: 700;
    margin-bottom:5px ;
}

