.topWritingSectopn {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(5, 1fr);

    width: 80%;
    align-items: center;
    justify-items: center;
    margin: auto;
}
:host {
    display: block;
    width: 100%;
}
@media only screen and (max-width: 964px) {
    .topWritingSectopn {
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 1fr;
        row-gap: 10px;
        width: 90%;
    }
}
