<div class="outerDiv">
    <div class="userImageDiv"  (mouseover)="showUploadIcon()" (mouseleave)="hideUplaadIcon()" (click)="showUploadThumbnail()">
        <div class="uploadIcon" *ngIf="showUploadIconState">
        <img src="camera.png" class="cameraIcon">
        </div>
     <img [ngSrc]="userDetails.url" *ngIf="loading" priority placeholder  fill />
    </div>
    <div class="userName">
        <span class="userNameHeading">User Name: </span><span class="userNameData">{{userDetails.name}}</span>
    </div>
    <div class="buttons">
        <button (click)="logout()" class="orange">Log Out</button>
        <button class="redClass" (click)="delete()">Delete Account</button>
    </div>
</div>
<app-error-image *ngIf="isThereError"></app-error-image>
<app-upload-thumbnail [lableText]="'Upload Image'" [userDetails]="userDetails" *ngIf="inputThumbnail" [uploadThumbnail]="false" text="Set Profile Icon" [formGroup]="formGroup" (toogleThumbnail)="emmitedThumbnailValueStatus()"></app-upload-thumbnail>
<app-delete-account-confirmation [deleteAccountPopUp]="displayDeleteConfirmation" *ngIf="showConfirmation"></app-delete-account-confirmation>
